a{
text-decoration: none !important;
}
body{
	padding: 0px;
	margin: 0px;
}
.card-body{
	text-align: center;
}
.navb{
	background-color: #265078;
}
.nav{
	font-size: 16px;
	margin-left: 19px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;}

 .nav:hover{
        background-color: #1B3854;
        color: white !important;


    }

.dropdown-menu{
	position: absolute;
	background-color: white;
	border-radius: 5px;
	border-top: 3px solid #4DD2DA !important;
	border: none;
	border-bottom: 3px solid #4DD2DA !important; 
	margin-left: 5px;
}
.dropdown-menu a{
	color: black;
}
 .drop a:hover{
        background-color: #F8F9FA;
    }
 .drop a{
 	font-size: 15px;
 }   
 .brandn a{
 	text-decoration: none;
 	color: #495057;
    font-size: 16px;
 }
 .sb{
 	font-size: 20px;
 	background-color: #265078;
 	color: white; 
 }
 .phoneb:hover{
 	background-color: #F8F9FA !important;;
 }
 .com-title{
 	border-left: 6px solid #265078;
 	padding-left: 5px;
 }
 .pdetails{
 	background-color: #08366D;
 	color: white;
 }
 .pdetails:hover{
 	color: white;
 	background-color: #265078;
 }
 .pmodel:hover{
 	color: #0C4E9D;
 }
 .footer{
 	color: #FCF7F9;
 	background-color: #265078;
 	font-size: 15px; 
 	
}

.footer-bottom{
	padding: 10px;
}
.sub-header{
	background-color: #E9ECEF;
	
	padding: 10px;
    border-radius: 5px;
}

.filter{
	color: black;
}
.filter:hover{
	color: white;
}
.addsroom
{
	color: white;
}
.b{
	border: solid gray 5px;
}